
.cta {
  padding: 100px 0;


  .container {


    .cta__plate {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 580px;
      padding: 40px 15px;
      background-color: #FFFFFF;
      border-radius: 60px;

        .cta__title {

          font-weight: 500;
          font-size: 45px;
          color: rgba(15, 31, 28,);
          margin-bottom: 30px;
          text-align: center;

        }

        .cta_text {
          font-weight: 400;
          font-size: 30px;
          color: rgba(15, 31, 28, 0.5);
          margin-bottom: 60px;

        }

        .cta__button a {
          padding: 27px 47px;

          font-weight: 600;
          font-size: 20px;
          color: white;
          background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
          border-radius: 27px; ;
          margin-bottom: 0;

          &:hover {
            color: #dca314;
            transition: color 0.2s ease-in;




          }

          &:active {
            position: relative;
            top: 1px;
          }

        }




    }

  }
}