.customers {
  padding: 100px 0 133px;


  .customers__row {
    display: flex;
    column-gap: 68px;

    .customers__img  {
      max-width: 478px;

      img {
        border-radius: 60px;

      }
    }

    .customers__content {

      .customers__title {
        max-width: 490px;
        margin-bottom: 35px;
        font-weight: 500;
        font-size: 45px;
      }

      .review {
        max-width: 490px;

        .review__client {
          display: flex;
          align-items: center;
          column-gap: 33px;
          margin-bottom: 60px;

          .review__client-avatar {
            overflow: hidden;
            width: 134px;
            height: 134px;
            border-radius: 50%;
            background: $color-3;
          }

          .review__client-desc {

            .review__client-desc-name {
              margin-bottom: 10px;
              font-weight: 500;
              font-size: 33px;

            }

            .review__client-desc-country {
              font-size: 25px;
              color: $color-2;

            }


          }

        }

        .review__text {
          margin-bottom: 30px;
          color: $color-2;
          font-weight: 500;

        }

        .review__rating {


        }

      }


    }

  }

}